* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
body {
  max-width: 100vw;
}
.main-header {
  display: block;
  background-color: #2f303a;
  position: relative;
}
.brand-logo {
  display: inline-block;
  text-decoration: none;
  margin: 1rem 21rem;
  position: relative;
}
.brand-logo-img {
  display: inline-block;
  height: 60px;
}
.brand-logo-name {
  display: inline-block;
  color: white;
  position: absolute;
  top: 45%;
  left: 190%;
  transform: translate(-50%, -50%);
}

.nav {
  position: absolute;
  top: 45%;
  right: 10%;
  transform: translate(-50%, -50%);
}
.nav-item {
  text-decoration: none;
  list-style: none;
  display: inline;
  color: white;
  margin: 0 2rem;
}
.nav-item a {
  color: white;
  text-decoration: none;
}
.nav-item a:hover {
  color: #bc3a80;
}

.home-main {
  background-color: #2f303a;
  position: relative;
  height: 90vh;
  overflow: hidden;
}
.woman-image {
  display: inline-block;
  height: 74vh;
  bottom: 0;
  position: absolute;
  margin-left: 10%;
  margin-top: 3rem;
  z-index: 1;
}
.home-main--infos {
  display: inline-block;
  width: 41%;
  position: absolute;
  bottom: 42%;
  right: 13%;
  z-index: 1;
}

.home-main--infos h1,
h2 {
  display: inline-block;
  color: white;
  width: 100%;
}
.home-main--infos h1 {
  font-size: 70px;
}

.btn {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 69px;
  background-color: #176287;
  margin-top: 2rem;
  transition: transform 0.3s;
  backface-visibility: hidden;
}
.btn:hover {
  transform: scale(1.1);
  background-color: darken;
  background-color: #145677;
}
.btn:active {
  transform: translateY(3px) scale(1.07);
}
.bold {
  font-weight: bold;
}
.circle-1 {
  background-color: rgba(188, 58, 128, 0.21);
  width: 240px;
  height: 240px;
  border-radius: 50%;
  content: '';
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 0;
}
.circle-2 {
  background-color: rgba(23, 98, 135, 0.16);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 10%;
  left: 35%;
  z-index: 0;
}
.circle-3 {
  background-color: rgba(188, 58, 128, 0.21);
  width: 360px;
  height: 360px;
  border-radius: 50%;
  content: '';
  position: absolute;
  bottom: -5%;
  right: -3%;
  z-index: 0;
}

footer {
  background-color: #000000;
}
.brand-logo-footer {
  display: inline-block;
  margin-left: 10em;
}
dl {
  color: white;
  display: inline-block;
  margin: 0 2em;
}
dt {
  text-transform: uppercase;
  font-weight: 500;
  color: #919496;
  padding-bottom: 15px;
  letter-spacing: 0.08em;
}
dd {
  padding-bottom: 15px;
}
dd a {
  text-decoration: none;
  color: white;
}
dd:hover a {
  color: #bc3a80;
}
.nav-links-footer {
  display: inline-flex;
  margin-top: 5rem;
  position: relative;
  margin-left: 3em;
}

nav {
  display: flex;
  align-items: center;
  padding-bottom: 5rem;
}

.brand-logo-footer-1 {
  display: inline-block;
  text-decoration: none;
  margin: 1rem 11rem;
  position: relative;
}
.some-links {
  height: 100px;
  display: block;
  margin-left: 6rem;
}
.some-links a {
  color: black;
}
.youtube {
  height: 34px;
}
svg {
  padding: 18px 24px;
  height: 34px;
}
svg:hover path {
  fill: #bc3a80;
}
@media screen and (max-width: 1722px) {
  .nav {
    right: 11.5%;
  }
  .brand-logo-footer {
    margin-left: 4em;
  }
}
@media screen and (max-width: 1540px) {
  .brand-logo-footer {
    margin: 1rem 0rem;
    width: 23%;
  }
}

@media screen and (max-width: 1440px) {
  .nav {
    right: 3.5%;
  }
  .brand-logo {
    margin: 1rem 12rem;
  }
  .brand-logo-footer-1 {
    margin: 1rem 6rem;
  }
  .some-links {
    margin-left: 5rem;
  }
}
@media screen and (max-width: 1380px) {
  .some-links {
    display: flex;
    justify-content: space-evenly;
    margin-left: 0px;
    margin-top: 2.5rem;
  }
  .brand-logo-footer {
    position: relative;
    height: 100%;
  }
  .nav-links-footer {
    margin-left: 13em;
  }
  .footer-name-logo {
    padding-top: 7.5rem;
  }
  .brand-logo-footer-1 {
    position: absolute;
    display: inline-block;
    padding-top: 7rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .home-main--infos {
    bottom: 27%;
    width: 38%;
  }
  nav {
    display: block;
  }
}
@media screen and (max-width: 1100px) {
  .nav {
    right: 3.5%;
  }
  .brand-logo {
    margin: 1rem 12rem;
  }
  .home-main--infos {
    width: 78%;
    display: block;
    position: relative;
    z-index: 10;
    top: 0;
    right: 0;
    margin-left: 41%;
    margin-top: 11%;
  }
}
@media screen and (max-width: 980px) {
  .home-main--infos {
    width: 84%;
    display: block;
    position: relative;
    z-index: 100;
    top: 0;
    right: 0;
    margin-left: auto;
    margin-top: 20%;
    margin-right: auto;
    text-align: center;
  }
  .brand-logo-footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 5em;
  }
  .brand-logo-footer-1 {
    margin: 0 auto;
  }
  .nav-links-footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 7em;
    margin: 0;
  }
  h1 {
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  }
}
@media screen and (max-width: 880px) {
  .brand-logo {
    margin: 1rem 6rem;
  }
  .nav {
    right: -5.5%;
  }
}
@media screen and (max-width: 600px) {
  .brand-logo {
    margin: 1rem 4rem;
  }
  .nav {
    right: -10.5%;
  }
  .brand-logo-name {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .brand-logo {
    width: auto;
  }
  .nav-links-footer {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  dl {
    display: block;
  }
  .brand-logo {
    margin: 1rem 3rem;
  }
  .footer-name-logo {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .nav {
    right: -19.5%;
  }
}
@media screen and (max-width: 400px) {
  .nav {
    right: -25.5%;
  }
  .nav :not(:last-child) {
    margin-right: 0;
  }
  .circle-2 {
    top: 0%;
    left: 47%;
  }
  .circle-1 {
    bottom: 38%;
    left: -10%;
  }
}

@media screen and (max-width: 330px) {
  html {
    width: 100vw;
  }
  .home-main--infos h1 {
    font-size: 2.2em !important;
  }
  h2 {
    display: none;
  }
  .home-main--infos {
    margin-top: 30%;
  }
  .circle-2 {
    top: 0%;
    left: 53%;
  }
  .circle-1 {
    bottom: 46%;
    left: -8%;
  }
}
@media screen and (orientation: landscape) and (min-device-width: 419px) and (max-device-width: 812px) {
  body {
    width: 100vw;
  }
  .home-main--infos {
    margin-top: 5%;
    display: inline-block;
    margin: 4.5em 0 4em 16em;
    text-align: start;
  }
  .home-main--infos h1 {
    font-size: 1.8em;
  }
  .home-main--infos h2 {
    font-size: 1.2em;
  }
  .btn {
    margin-top: 1rem;
  }
  .circle-3 {
    bottom: -7%;
    right: -12%;
  }
  .circle-2 {
    top: 5%;
    left: 36%;
  }
  .circle-1 {
    bottom: -3%;
    left: -2%;
  }

  .footer-name-logo {
    display: none;
  }
}
@media screen and (orientation: landscape) and (min-device-width: 419px) and (max-device-width: 568px) {
  h1 {
    font-size: 2.2em !important;
  }
  h2 {
    font-size: 1em !important;
  }
  .home-main--infos {
    margin-top: 10%;
  }
  .footer-name-logo {
    display: none;
  }
}
