* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.main-header {
  display: block;
  background-color: #2f303a;
  position: relative;
}
.brand-logo {
  display: inline-block;
  text-decoration: none;
  margin: 1rem 21rem;
  position: relative;
}
.brand-logo-img {
  display: inline-block;
  height: 60px;
}
.brand-logo-name {
  display: inline-block;
  color: white;
  position: absolute;
  top: 45%;
  left: 190%;
  transform: translate(-50%, -50%);
}

.nav {
  position: absolute;
  top: 45%;
  right: 10%;
  transform: translate(-50%, -50%);
}
.nav-item {
  text-decoration: none;
  list-style: none;
  display: inline;
  color: white;
  margin: 0 2rem;
}
.nav-item a {
  color: white;
  text-decoration: none;
}
.nav-item a:hover {
  color: #bc3a80;
}

.home-main {
  background-color: #2f303a;
  position: relative;
  height: 90vh;
  overflow: hidden;
}
.woman-image {
  display: inline-block;
  height: 74vh;
  bottom: 0;
  position: absolute;
  margin-left: 10%;
  margin-top: 3rem;
  z-index: 1;
}
.home-main--infos {
  display: inline-block;
  width: 41%;
  position: absolute;
  bottom: 42%;
  right: 13%;
}

.home-main--infos h1,
h2 {
  display: inline-block;
  color: white;
  width: 100%;
}
.home-main--infos h1 {
  font-size: 70px;
}

.btn {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 69px;
  background-color: #176287;
  margin-top: 2rem;
  transition: transform 0.3s;
  backface-visibility: hidden;
}
.btn:hover {
  transform: scale(1.1);
  background-color: darken;
  background-color: #145677;
}
.btn:active {
  transform: translateY(3px) scale(1.07);
}
.bold {
  font-weight: bold;
}
.circle-1 {
  background-color: rgba(188, 58, 128, 0.21);
  width: 240px;
  height: 240px;
  border-radius: 50%;
  content: '';
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 0;
}
.circle-2 {
  background-color: rgba(23, 98, 135, 0.16);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 10%;
  left: 35%;
  z-index: 0;
}
.circle-3 {
  background-color: rgba(188, 58, 128, 0.21);
  width: 360px;
  height: 360px;
  border-radius: 50%;
  content: '';
  position: absolute;
  bottom: -5%;
  right: -3%;
  z-index: 0;
}
